In [1]:
import numpy as np
import pandas as pd

보라책 
14장
2.2 / 2 4 / 2.6
3.2 / 3.4 / 3.6 / 3.8 
4.1 / 4.2 / 4.4
15장은   
2.2/2.3/2.6/2.1      0
3.2/3      .4
4.2/4.4/      4.6
5.2/5.4/5.8/  5    .16

In [53]:
# 2-2
df = [[35,24,28,21],[19,14,14,13],[21,16,21,14]]
#1
df = pd.DataFrame(df)
print("original")
display(pd.DataFrame(df))
# 
df_mean_value = np.array(df).mean()
df_mean = df.copy()
df_mean[:] = df_mean_value
print("mean")
display(df_mean)

df_sstr = df.copy()
for i in range(0,3):
    df_sstr.iloc[i,:] = df.mean(axis=1)[i]
df_sstr_new = df_sstr-df_mean
print("sstr")
display(df_sstr)
display(df_sstr_new)

print("sse")
df_sse = df-df_sstr
display(df_sse)

original

    0   1   2   3
0  35  24  28  21
1  19  14  14  13
2  21  16  21  14

mean

    0   1   2   3
0  20  20  20  20
1  20  20  20  20
2  20  20  20  20

sstr

    0   1   2   3
0  27  27  27  27
1  15  15  15  15
2  18  18  18  18

   0  1  2  3
0  7  7  7  7
1 -5 -5 -5 -5
2 -2 -2 -2 -2

sse

   0  1  2  3
0  8 -3  1 -6
1  4 -1 -1 -2
2  3 -2  3 -4

In [55]:
#2
sstr = (df_sstr_new**2).sum().sum()
sse = df_sse.sum().sum()
print("1:",df_mean_value,"\n2:",sstr,"\n3:",sse)

1: 20.0
2: 312
3: 0

In [72]:
#3
#SST
print(len(np.array(df).flatten())-1)
#SSTR
print(len(df)-1)
#SSE 
print(len(np.array(df).flatten())-len(df))

11
2
9

In [113]:
#4
# SST 
SST = (df**2).sum().sum() - (((df.sum().sum())**2)/(len(np.array(df).flatten())))
print(SST)
# SStr
SStr = 0
for i in range(0,3):
    SStr += (df.iloc[i,:].sum())**2/len(df.iloc[i,:])
SStr -=(((df.sum().sum())**2)/(len(np.array(df).flatten())))
print(SStr)
#SSE 
print(SST - SStr)

482.0
312.0
170.0

In [111]:
SStr

312.0