In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/30/p1.csv')
df.head()

   Age  Gender   BMI  DBP   FPG  Chol   Tri   HDL   LDL   ALT   CCR  FFPG
0   26       1  20.1   81  5.80  4.36  0.86  0.90  2.43  12.0  63.8  5.40
1   40       1  17.7   54  4.60  3.70  1.02  1.50  2.04   9.2  70.3  4.10
2   40       2  19.7   53  5.30  5.87  1.29  1.75  3.37  10.1  61.1  4.85
3   43       1  23.1   71  4.50  4.05  0.74  1.27  2.60  36.5  73.4  5.30
4   36       1  26.5   82  5.54  6.69  3.49  0.91  3.64  69.3  67.5  5.53

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4303 entries, 0 to 4302
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     4303 non-null   int64
 1   Gender  4303 non-null   int64
 2   BMI     4303 non-null   float64
 3   DBP     4303 non-null   int64
 4   FPG     4303 non-null   float64
 5   Chol    4302 non-null   float64
 6   Tri     4303 non-null   float64
 7   HDL     4303 non-null   float64
 8   LDL     4303 non-null   float64
 9   ALT     4303 non-null   float64
 10  CCR     4303 non-null   float64
 11  FFPG    4303 non-null   float64
dtypes: float64(9), int64(3)
memory usage: 403.5 KB

1-2 데이터 전처리가 필요하다면 수행하고 이유를 작성하라

1-3 train test set을 DBP컬럼 기준으로 7:3 비율로 나누고 잘 나뉘었는지 통계적으로 나타내라

2-1 독립변수의 차원축소의 필요성을 논하고, 필요에 따라 차원을 축소하고 불필요하다면 그 근거를 논하시오

2-2 작업 후 데이터가 회귀분석의 기본가정 따르는지 설명

3-1 회귀분석 알고리즘 3개를 선택하고 선정이유와 장단점 비교

데이터 출처 : https://taas.koroad.or.kr/api/selectOpenApi.do 후처리

데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/30/p2_v2.csv

데이터 설명 : 자전거사고 다발지역 개별사고 정보

대상사고 : 해당 1년간 발생한 가해 또는 피해차종이 자전거인 교통사고

다발지역 선정조건 : 반경 300m 내 대상사고 4건이상 발생지역

종속 변수 : 피해자신체상해정도

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/30/p2_v2.csv')
df.head()

,사고년도,가해자성별,가해자연령,가해차종,가해자신체상해정도,피해자성별,피해자연령,피해차종,피해자신체상해정도,사고유형,가해자법규위반,기상상태,시각,사건번호
0,2015,남,46세,승합차,상해없음,여,64세,자전거,경상,차대차 - 기타,안전운전불이행,맑음,2015-07-03_10시,ID_796
1,2019,남,53세,승용차,상해없음,여,57세,자전거,경상,차대차 - 후진중충돌,안전운전불이행,맑음,2019-10-12_10시,ID_6697
2,2015,남,39세,승용차,상해없음,남,63세,자전거,중상,차대차 - 기타,기타,맑음,2015-03-23_20시,ID_919
3,2016,남,12세,자전거,상해없음,남,52세,보행자,경상,차대사람 - 길가장자리구역통행중,안전운전불이행,맑음,2016-04-10_15시,ID_2512
4,2015,남,54세,승용차,상해없음,남,63세,자전거,중상,차대차 - 기타,안전운전불이행,맑음,2015-08-04_6시,ID_75

4-1 발생시각을 통해 평일인지 주말인지를 구분하는 ‘주말여부’ 범주형 변수 추가하고 데이터 분포를 확인하라. (월 ~ 금은 평일, 토요일과 일요일을 주말)

4-2 ‘피해자신체상해정도’에 따라 각 독립변수들이 유의한지 통계적 검정하라

4-3 4-2 에서 유의한 변수들만을 가지고 ‘피해자신체상해정도’를 기준으로 SMOTE 오버샘플링을 수행하고 샘플링 데이터와 기존데이터를 합친 전체 데이터에 대해 범주형변수는 변수별 빈도를 나타내고 연속형이면 평균을 나타내시오

4-4 4-3 데이터를 가지고 ‘피해자신체상해정도’ 을 종속변수로 하여 로지스틱회귀분석, XGB 분류 분류 모델을 만들고 성능 비교를 하고 영향력 있는 변수를 확인하라

# 통계

5 3개의 공장에서 생산한 제품을 3지역으로 가능한 조건에 맞게 최대로 배송한다.
각 공장과 각 지역 사이의 1개 제품 배송 비용이 아래와 같을 때, 최소 배송 비용은 얼마인가?

In [20]:
import numpy as np
from scipy.optimize import linear_sum_assignment
# 배송 비용 행렬 (단위: 만원)
cost_matrix = np.array([
    [12, 5, 34],  # 공장 A -> 지역 1, 2, 3
    [22, 2, 21],  # 공장 B -> 지역 1, 2, 3
    [3, 23, 15]   # 공장 C -> 지역 1, 2, 3
])

# 각 공장의 공급량 (각 공장 별 생산 가능량)
supply = np.array([70, 55, 25])

# 각 지역의 수요량
demand = np.array([30, 50, 70])

# 헝가리안 알고리즘을 이용해 최소 비용 배송 계획 계산
row_ind, col_ind = linear_sum_assignment(cost_matrix)

# 최소 비용 계산
min_cost = cost_matrix[row_ind, col_ind].sum()

# 결과 출력
print("최소 비용:", min_cost)

# 배송 경로 출력 (어떤 공장에서 어떤 지역으로 배송하는지)
print("배송 경로:")
for i in range(len(row_ind)):
    print(f"공장 {row_ind[i] + 1} -> 지역 {col_ind[i] + 1}: {cost_matrix[row_ind[i], col_ind[i]]}만원")

최소 비용: 29
배송 경로:
공장 1 -> 지역 1: 12만원
공장 2 -> 지역 2: 2만원
공장 3 -> 지역 3: 15만원

6 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/30/p6.csv

데이터 설명 : 3개 연령층 (청년 장년 노년)의 A 헤드셋의 선호도 (1,2,3/ 범주형) 설문조사

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/30/p6.csv')
df.head()

   나이  선호도
0  청년    2
1  장년    2
2  청년    2
3  청년    1
4  장년    1

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   나이      277 non-null    object
 1   선호도     277 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.5+ KB

In [25]:
df['나이'].value_counts()

청년    120
노년     92
장년     65
Name: 나이, dtype: int64

In [26]:
df['선호도'].value_counts()

1    107
2     99
3     71
Name: 선호도, dtype: int64

6-1 연령대별로 헤드셋 선호도에 차이가 있는지를 검정하기 위한 귀무가설과 연구가설을 설정해라

In [ ]:
# 3가지 연령대의 3가지 선호도 비교 
# 귀무가설 : 연령대별로 헤드셋 선호도 차이가 없다
# 연구가설 : 연령대별로 헤드셋 선호도 차이가 있다.

6-2 유의수준 하에서 통계 검정해라

In [28]:
import pandas as pd
contingency_table = pd.crosstab(df['나이'], df['선호도'])
contingency_table

선호도   1   2   3
나이
노년   35  32  25
장년   25  23  17
청년   47  44  29

In [29]:
import numpy as np
import scipy.stats as stats

# 카이제곱 독립성 검정 수행
chi2_stat, p_val, dof, expected = stats.chi2_contingency(contingency_table)

# 결과 출력
print("카이제곱 통계량:", chi2_stat)
print("p-value:", p_val)
print("자유도:", dof)
print("기대 빈도수:", expected)

# p-value가 0.05보다 작으면 귀무가설을 기각 (차이가 있음)
if p_val < 0.05:
    print("귀무가설을 기각합니다. 연령대별 선호도에 차이가 있습니다.")
else:
    print("귀무가설을 채택합니다. 연령대별 선호도에 차이가 없습니다.")

카이제곱 통계량: 0.26510760957453305
p-value: 0.9919538273457956
자유도: 4
기대 빈도수: [[35.53790614 32.88086643 23.58122744]
 [25.10830325 23.23104693 16.66064982]
 [46.35379061 42.88808664 30.75812274]]
귀무가설을 채택합니다. 연령대별 선호도에 차이가 없습니다.

7-1 아이를 6명 가진 가정이 5 가족이고, 아들/딸을 출생할 확률은 0.5이다. 딸이 4명 이상인 가구가 3 가족 이상일 확률을 구하라

In [10]:
from scipy.stats import binom

print(1-binom.cdf(3,6,0.5))

0.34375

7-2 5가족 중 몇 가족이 4명 이상 딸을 가질 것으로 기대할 수 있는가?

In [16]:
# 기대값 계산 - 이항 분포의 기대값은 E = np
(1-binom.cdf(3,6,0.5))*5

1.71875